table.center {
    margin: auto;
    border: 1px solid #699;
    border-collapse: collapse;
}
caption {
    margin: auto;
    padding: .2em;
    font-size: 1.2em;
    font-weight: bold;
}
tr:nth-child(odd) {
    background-color: #ffc;
}
tr:nth-child(even) {
    background-color: #fff;
}
th {
    padding: 8px;
    background-color: #9cc;
}
td {
    padding: 8px;
}

ul li {
//    float: left;
    padding: 1em;
    list-style: none;
    display: inline;
}
